@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    /* font size */
    --small1: 11px;
    --small2: 12px;
    --small3: 14px;
    --small4: 13px;
    --small5: 14px;
    --small6: 14px;
    --small7: 10px;
    --small8: 19px;
    --small9: 18px;
    --medium1: 21px;
    --medium2: 25px;
    --medium3: 26px;
    --medium4: 28px;
    --medium5: 24px;
    --medium6: 35px;
    --medium7: 21px;
    --medium8: 37px;
    --medium9: 38px;
    --large1: 30px;
    --large2: 40px;
    --large3: 42px;
    --large4: 68px;
    --large5: 70px;
    --large6: 63px;
    --large7: 101px;
    --large8: 106px;
    --large9: 110px;

    /* color */
    --white1: #fff;
    --grey1: #848895;
    --grey2: #C4C4C4;
    --grey3: #BABABA;
    --grey4: #E6E6E6;
    --blue: #618ADC;
    --green1: #19FB9B;
    --green2: #14F195;
    --purple1: #A962FF;
    --purple2: #9945FF;
    --black1: #111;
    --black2: #19161C;
    --black3: #0A0A0A;
    --pink: #F087FF;
    --yellow: #FFEB3B;
}

/* font size */
.small1 {
    font-size: var(--small1);
}

.small2 {
    font-size: var(--small2);
}

.small3 {
    font-size: var(--small3);
}

.small4 {
    font-size: var(--small4);
}

.small5 {
    font-size: var(--small5);
}

.small6 {
    font-size: var(--small6);
}

.small7 {
    font-size: var(--small7);
}

.small8 {
    font-size: var(--small8);
}

.small9 {
    font-size: var(--small9);
}

.medium1 {
    font-size: var(--medium1);
}

.medium2 {
    font-size: var(--medium2);
}

.medium3 {
    font-size: var(--medium3);
}

.medium4 {
    font-size: var(--medium4);
}

.medium5 {
    font-size: var(--medium5);
}

.medium6 {
    font-size: var(--medium6);
}

.medium7 {
    font-size: var(--medium7);
}

.medium8 {
    font-size: var(--medium8);
}

.medium9 {
    font-size: var(--medium9);
}

.large1 {
    font-size: var(--large1);
}

.large2 {
    font-size: var(--large2);
}

.large3 {
    font-size: var(--large3);
}

.large4 {
    font-size: var(--large4);
}

.large5 {
    font-size: var(--large5);
}

.large6 {
    font-size: var(--large6);
}

.large7 {
    font-size: var(--large7);
}

.large8 {
    font-size: var(--large8);
}

.large9 {
    font-size: var(--large9);
}

/* color */
.white1 {
    color: var(--white1);
}

.grey1 {
    color: var(--grey1);
}

.grey2 {
    color: var(--grey2);
}

.grey3 {
    color: var(--grey3);
}

.grey4 {
    color: var(--grey4);
}

.blue {
    color: var(--blue);
}

.green1 {
    color: var(--green1);
}

.green2 {
    color: var(--green2);
}

.purple {
    color: var(--purple1);
}

.purple2 {
    color: var(--purple2);
}

.black1 {
    color: var(--black1);
}

.black2 {
    color: var(--black2);
}

.black3 {
    color: var(--black3);
}

.pink {
    color: var(--pink);
}

.yellow {
    color: var(--yellow);
}

/* font-family */
.roboto {
    font-family: "Roboto";
}

@font-face {
    font-family: "HelveticaRegular";
    src: url(/assets/font-family/Helvetica-Font/Helvetica.ttf);
}

.helvetica {
    font-family: "HelveticaRegular";
}

/* style */

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    max-width: 1140px !important;
}

/* head */

.top-bg {
    background: linear-gradient(260deg, #0047FF -13.37%, #00BCD4 109.53%);
    transition: all 400ms linear;
}

.top-bg:hover p {
    color: var(--white1) !important;
}

/* nav */
.cross-1 {
    rotate: 45deg;
    transition: .4s;
}

.cross-2 {
    position: relative;
    transition: .4s;
    top: -80%;
    rotate: -45deg;
}

.cross-4 {
    transition: .4s;
}

.cross-5 {
    transition: .4s;
}

.cross-6 {
    transition: .4s;
}

.cross-3 {
    display: none !important;
}

.flow-hidden {
    overflow: hidden;
}

nav ul li a {
    position: relative;
}

nav ul li ::before {
    content: '';
    position: absolute;
    background: white;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 50%;
    transition: all 400ms linear;
}

nav ul li a:hover::before {
    left: 0;
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.dropdown:hover svg {
    transform: rotate(180deg);
    transition: all 300ms linear;
}

.dropdown-item:hover {
    background-color: var(--grey1);
    color: var(--grey1);
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: unset !important;
    color: #FFF !important;
    transition: all linear 300ms;
}

.dropdown-item:active {
    background-color: unset !important;
}

.dropdown .dropdown-menu {
    display: none;
    background-color: var(--grey1) !important;
}

.dropdown:hover>.dropdown-menu,
.dropend:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    min-width: 80px !important;
}

.gap-30 {
    gap: 30px;
}

.nav-hv:hover {
    color: var(--grey4);
    -webkit-text-stroke: .5px;

}
.nav-hv:hover svg path {
    background: black;
    fill: #FFF;

}

.label[id="menuIcon"] {
    width: 30px;
    top: 6% !important;
}


/* sec-1 */
.sec-1-head {
    line-height: normal;
}

.sec-1-para {
    line-height: 24.336px;
    max-width: 390px;
}

.pt-135 {
    padding-top: 135px;
}

.pb-190 {
    padding-bottom: 190px;
}

.sec-1-btn-1 {
    line-height: 20px;
    text-transform: uppercase;
    width: 106.251px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid black;
    background: var(--green2);
    transition: all 400ms linear;
}

.sec-1-btn-1:hover {
    border: 1px solid var(--green2);
    background: black;
    color: var(--green2);
}

.sec-1-btn-2 {
    line-height: 20px;
    text-transform: uppercase;
    width: 176.28px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid white;
    background: black;
    transition: all 400ms linear;
}

.sec-1-btn-2:hover {
    border: 1px solid black;
    background: white;
    color: var(--black3);
}

.sec-1-btn-1 {
    line-height: 20px;
    text-transform: uppercase;
    width: 106.251px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid black;
    background: var(--green2);
}

.sec-1-btn-2 {
    line-height: 20px;
    text-transform: uppercase;
    width: 176.28px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid white;
    background: black;
}


.sec-1-elepse {
    width: 633.226px;
    height: 642px;
    border-radius: 100px;
    background: rgba(240, 135, 255, 0.30);
    filter: blur(250px);
    position: absolute;
    top: -38%;
    right: 29%;
}

/* sec-2 */
.sec-2-bg {
    background-image: url('/assets/images/SEC-2-BG-imgs.png');
    min-height: 370px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 18px;
}

.sec-2-bg-1 {
    background-image: url('/assets/images/sec-2-bg-1.png');
    min-height: 320px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 18px;
    background-size: cover;
}

.sec-2-bg-2 {
    background-image: url('/assets/images/sec-2-bg-2.png');
    min-height: 320px;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 18px;
    background-size: cover;
}

.sec-2-bg-3 {
    background-image: url('/assets/images/sec-2-bg-3.png');
    min-height: 320px;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 18px;
    background-size: cover;
}

.sec-2-bg-4 {
    background-image: url('/assets/images/sec-2-bg-4.png');
    min-height: 320px;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 18px;
    background-size: cover;
}

.sec-2-bg-5 {
    background-image: url('/assets/images/sec-2-bg-5.png');
    min-height: 320px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 18px;
    background-size: cover;
}

.sec-2-bg-6 {
    background-image: url('/assets/images/sec-2-bg-6.png');
    min-height: 320px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 18px;
    background-size: cover;
}


.sec-2-btn {
    width: 84.825px;
    height: 15px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid var(--purple2);
    background: var(--purple2);
}

.sec-2-head {
    line-height: normal;
}

.sec-2-para {
    max-width: 390px;
    line-height: normal;
}

.pl-70 {
    padding: 5px;
}

.sec-2-set {
    position: absolute;
    bottom: 5%;
    left: 6%;
}

.sec-2-set-1 {
    position: absolute;
    bottom: 8%;
    right: 6%;
}

/* sec-3 */
.sec-3-card {
    max-width: 700px;
    height: 282px;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--black2);
}

.pt-sm-120 {
    padding-top: 40px;
}

.sec-4-cardhead {
    line-height: 19.2px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.sec-3-cardpara {
    line-height: 26px;
    max-width: 631px;
}

.card-elipse {
    width: 259px;
    height: 31px;
    border-radius: 259px;
    background: #A962FF;
    filter: blur(40px);
    bottom: 0;
    left: 10%;
    opacity: 0;
    transition: all 300ms linear;
    visibility: visible;
}

.sec-3-card:hover .card-elipse {
    opacity: 1;
    visibility: visible;
}


/* sec-4 */
.bg-black1 {
    background: linear-gradient(180deg, #19161C 0%, #000 100%);
}

.mt-100 {
    margin-top: 30px;
}

.sec-4-btn {
    width: 107.95px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid #FFF;
    background: transparent;
    line-height: 20px;
    text-transform: uppercase;
    color: white;
    transition: all 400ms linear;
}

.sec-4-btn:hover {
    border: 1px solid transparent;
    background: white;
    color: black;

}


.pt-sm-80 {
    padding-top: 80px;
}

.line-btm {
    max-width: 550px;
    height: 2px;
    background: #FFFFFF;
}

.sec-4-para-1 {
    max-width: 500px;
    line-height: normal;
}

.sec-4-para-2 {
    line-height: normal;
    max-width: 700px;
}

.d-sm-clm {
    flex-direction: column;
}

.sec-4-btn-2 {
    width: 198.253px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid #FFF;
    background: transparent;
    text-align: center;
    transition: all 400ms linear;
}

.sec-4-btn-2>svg path {
    background: black;
    fill: #FFF;
}


.sec-4-card {
    max-width: 300.647px;
    height: 207px;
    flex-shrink: 0;
    border-radius: 14px;
    background: var(--black2);
    box-shadow: 0px 58px 80px 0px rgba(0, 0, 0, 0.16);
}

.mt-20 {
    margin-top: 20px;
}

.sec-4-cardpara-1 {
    max-width: 500px;
    line-height: normal;
}

.sec-4-btn-3 {
    width: 189.376px;
    height: 44px;
    border-radius: 24px;
    border: 1px solid #FFF;
    background: transparent;
    transition: all 400ms linear;
}

.email {
    padding: 0 12px 0 26px;
    max-width: 550px;
    height: 60px;
}

.email-text {
    padding: 9px 13px;
    width: 100%;
    border-radius: 80px;
    color: var(--grey1);
    background: #000;
    border: none;
}

.bg-white {
    background-color: #000 !important;
}

input {
    outline: unset;
    background: #000 !important;

}

.mail-btn {
    padding: 7px 21px 7px 21px;
    flex-shrink: 0;
    border-radius: 27px;
    border: 1px solid #000;
    background: #14F195;
    position: absolute;
    right: 5%;
    bottom: 32%;
    border: 1px solid transparent;
    transition: all 400ms linear;
}

.mail-btn:hover {
    border: 1px solid var(--green2);
    background: black;
    color: var(--green2);
}

.social-btn:hover {
    background: white;
    transition: all .5s linear;
    color: var(--black2) !important;
}

/* footer */
.pb-90 {
    padding-bottom: 30px;
}

.btm-line {
    position: relative;
}

.btm-line::before {
    content: '';
    position: absolute;
    background: white;
    width: 0;
    height: 1px;
    bottom: 0;
    right: 0;
    transition: all .5s linear;
}

.btm-line:hover::before {
    left: 0;
    width: 100%;
}

.fotr-hv:hover {
    color: white;
    -webkit-text-stroke: .001px;
}

.fotr-hv:hover svg path {
    fill: white;
}

.social-icns {
    background: #848895;
    width: 26px;
    height: 16px;
    flex-shrink: 0;
}

.social-icns:hover {
    background: #fff;
}



.app-icon {
    transition: all linear 500ms;

}

.app-icon:hover {
    transform: translateY(-40%);
}

/* nav-media */

@media (max-width:768px) {
    label[id="menuIcon"] {
        width: 30px;
        height: 24px;
        cursor: pointer;
        display: flex;
        position: absolute;
        right: 2%;
        top: 25%;
        justify-content: space-between;
        flex-direction: column;
        z-index: 5;
        align-items: center;

    }

    label[id="menuIcon"]>span {
        width: 100%;
        height: 5px;
        background: #FFFFFF;
    }

    .nav-flip {

        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        position: fixed;
        opacity: 1;
        width: 100%;
        max-width: 400px;
        height: 100%;
        background: #000000;
        z-index: 3;
        box-shadow: 0px 0px 19px 9px rgba(0, 0, 0, 0.10);
        transition: all 500ms linear;

    }

    .fix-lft {
        left: 0;
    }
}

/* media */
@media (min-width:576px) {
    :root {
        /* font size */
        --small1: 11px;
        --small2: 12px;
        --small3: 14px;
        --small4: 15px;
        --small5: 16px;
        --small6: 17px;
        --small7: 18px;
        --small8: 19px;
        --small9: 20px;
        --medium1: 21px;
        --medium2: 25px;
        --medium3: 26px;
        --medium4: 28px;
        --medium5: 32px;
        --medium6: 35px;
        --medium7: 36px;
        --medium8: 37px;
        --medium9: 38px;
        --large1: 39px;
        --large2: 40px;
        --large3: 42px;
        --large4: 68px;
        --large5: 70px;
        --large6: 94px;
        --large7: 101px;
        --large8: 106px;
        --large9: 110px;
    }


    .sec-1-head {
        line-height: 96px;
        letter-spacing: 0.48px;
    }

    .sec-4-btn {
        width: 147.95px;
        height: 46px;
    }

    .mail-btn {
        padding: 7px 21px 7px 21px;
        position: absolute;
        right: -20%;
        bottom: -54%;

    }


    .email-text {
        padding: 13px 13px;
        width: 130%;


    }

    .email {
        width: 300px;
    }

    .d-sm-clm {
        flex-direction: row;
    }


    .pl-70 {
        padding-left: 70px;
    }


    .sec-1-btn-1 {
        width: 126.251px;
        height: 42px;
    }

    .sec-1-btn-2 {
        width: 196.28px;
        height: 42px;

    }

    .sec-2-para {
        max-width: 390px;
        line-height: 27px;
    }

    .sec-4-card {
        max-width: 530.647px;
        height: 357px;

    }
}

@media (min-width: 768px) {
    .pb-90 {
        padding-bottom: 90px;
    }

    .pt-sm-120 {
        padding-top: 120px;
    }

    .sec-4-card {
        max-width: 530.647px;
        height: 357px;

    }

    .sec-4-para-1 {
        max-width: 500px;
        line-height: 27px;
    }

    .sec-4-cardpara-1 {
        max-width: 500px;
        line-height: 27px;
    }

    .sec-4-para-2 {
        line-height: 27.3px;
        max-width: 700px;
    }

    .mt-100 {
        margin-top: 100px;
    }

}

@media (min-width: 992px) {

    .mail-btn {
        padding: 7px 21px 7px 21px;
        position: absolute;
        right: -20%;
        bottom: 1%;

    }

    .sec-4-card {
        max-width: 480.647px;
        height: 357px;

    }

    .mt-20 {
        margin-top: 0;
    }

}

@media (min-width: 1200px) {
    .sec-4-card {
        max-width: 530.647px;
        height: 357px;

    }

    .mail-btn {
        padding: 7px 21px 7px 21px;
        position: absolute;
        right: -20%;
        bottom: -52%;

    }

}